<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">

     <style>
	* {	
		font-family: "Rubik", "sans-serif";
	}
		h5 {text-align: center;}
		h3 {text-align: center;}
		h1 {text-align: center;}

		p {text-align: center;}
		div {text-align: center;}      
		div.b {text-align: right;}     
		div.c {text-align: left;}     

		</style>
<h1 style="color:black;">Anonymous Group Chat Room</h1>

<title>Chat Room</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
</head>
<body>
 <body style="background-color:rgb(227, 211, 194);">
	<div class="black">
		<ul id="messages"></ul>
		<input type="text" id="myMessage">
		
		
		<button id="sendbutton">Send</button>
		</div>
		
		
		
		<div class="b">
		<form action="greet" method="post">
			{% for message in get_flashed_messages() %}
			
			<p>{{ message }}</p>
			{% endfor %}
		
			<br>
			<input type="text" name="name_input">
			<br>
			<input type="submit" value="GREET" id="greet">
		</form>
		</div.a>
		
		<div class="c">
			<iframe width="640" height="360" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		</div.c>

<script type="text/javascript">
$(document).ready(function() {

	var socket = io.connect('http://127.0.0.1:5000');

	socket.on('connect', function() {
		socket.send('User has connected!');
	});

	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg+'</li>');
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});

});


</script>


</body>
